<section class="row">
  <article class="column">
    <.display_years account={@thejuliams} day={@day} month={@month} />
  </article>
    <article class="column">
    <.display_years account={@mooniunatik} day={@day} month={@month} />
  </article>
</section>
